{% extends "webmonit/base.html" %}
{% load widget_tweaks %}

{% block title %}Add page to monit{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Delete Page</h3>
            </div>

                <form method="POST">
                    {% csrf_token %}
                    Are you want to delete this page?
                    <input type="submit" value="Yes" />
                    <a href="/webmonit/">Cancel </a>
                </form>
        </div>
    </div>
</div>
{% endblock %}


