{% extends "webmonit/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Webpages with problems</h3>
            </div>

            <ul class="list-group">
                {% for page in Pages %}
                <li class="list-group-item">
                    <strong>{{ page.name }}</strong>
                    <span class="pull-right">
                        <a href="{% url 'webmonit:page_log' page.id %}" class="btn btn-info btn-xs">logs</a> &nbsp;
                        <a href="{% url 'webmonit:detail' page.id %}" class="btn btn-default btn-xs">details</a> &nbsp;
                        &#10004;
                    </span>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}